html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* pre {
  background-color: black;
  color: white;
  padding: 1rem;
  overflow: scroll;
} */

.code {
  position: relative;
}

.code pre {
  padding-top: 2rem !important;
  transition: .3s ease all;
}

.code__icons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.code__icons button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}
